@import '../../../core/styl/utils.styl'

[data-component='login']
	background $bg-grey
	position absolute
	right 0
	top 50%
	width 380px
	height 450px
	box-shadow 0 2px 5px 0 rgba( 0, 0, 0, .10)
	border-radius 5px
	padding 0
	transform translateY( -50% )
	overflow hidden
	.logo
		font-size 0
		position absolute
		top 40px
		left 50%
		transform-origin center center
		transform translateX( -50% )
