@import 'utils'

label
	font 12px $secondary-font
	color $middle-grey
	margin 0 0 5px
	display block

input[type='tel'],
input[type='email'],
input[type='password'],
input[type='text']
	background #FFFFFF
	border 1px solid $grey
	font 12px $primary-font
	color $grey
	padding 15px 10px
	width 100%
	transition .3s all

	&:focus
		color $middle-grey

	&.error
		border 1px solid $error
		color $error
		margin 0
	&.success
		border 1px solid $success
		color $grey

.mat-checkbox-background,
.mat-checkbox-frame
	border-radius 0

.form-control
	margin 0 0 25px
