
.mCSB_scrollTools,
.mCSB_draggerRail
	width 10px

.mCSB_draggerRail
	background-color $bg-grey
	border-radius 0

.mCSB_scrollTools
	.mCSB_dragger
		.mCSB_dragger_bar
			background-color $contrast-grey

.mCSB_scrollTools
	.mCSB_dragger:hover
			.mCSB_dragger_bar
				background-color $contrast-grey
