@import '../../../core/styl/utils.styl'

[data-component='my-cpf']
	position absolute
	width 230px
	text-align center
	top 160px
	left 150%
	transform translateX( -50% )

	label
		text-align left

	.check-remember-my-user
		margin 0 0 50px

	.btn-send
		margin 0 0 30px

