@import '../../../core/styl/utils.styl'

[data-component="main-title"]
	.title
		font-weight 500
		text-align left
	.subtitle
		font-family $secondary-font
		font-size 12px
		text-align left
		color $middle-grey
		margin 5px 0 40px
