@import '../../../core/styl/utils.styl'

[data-component='define-password']
	position absolute
	top 116px
	left 100%
	padding 0 58px

	label,
	p
		color $middle-grey
		width 100%
		font-size 12px

	label
		font-weight 700
		margin 10px 0 20px

	.loader
		top 5px
