<div data-component="define-password" class="container" *ngIf="active">
	<form [formGroup]="formCreatePass" (ngSubmit)="onSend()">
		<div class="row">
			<div class="col-md-12">
				<h2>Olá, vamos definir sua senha?</h2>
				<p>
						A seguir será preciso criar uma senha para seus próximos acessos ao OmniBanco.<br>
						Procure memorizar sua senha ou guarda-lá em lugar seguro.
				</p>
				<p>
						Para que sua senha seja forte, precisamos que ela tenha, no mínimo:<br>
						8 caracteres, um número, uma letra maiúscula e um caractere especial ( ! @ # $ % & - _ ? ).
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
					<label>Use o teclado virtual para digitar sua senha:</label>
					<div class="form-control">
						<input formControlName="pass"
						[class.success]="passPatternDone"
						[class.error]="passPatternError"
						placeholder="Insira sua senha"
						type="password"
						(input)="verifyPassPattern($event.target.value, false)"
						(blur)="verifyPassPattern($event.target.value, true)">
						<div class="error" *ngIf="passPatternError">A senha digitada não atende aos requisitos. Tente novamente.</div>
					</div>
					<div class="form-control">
						<input formControlName="confirmPass"
						[class.error]="passConfirmError"
						[class.success]="passConfirmDone"
						placeholder="Repita sua senha"
						type="password"
						(input)="verifyConfirmPass($event.target.value, false)"
						(blur)="verifyConfirmPass($event.target.value, true)"
						>
						<div class="error" *ngIf="passConfirmError">A senha digitada não confere com a digitata acima. Tente novamente.</div>
					</div>
			</div>
			<div class="col-md-7">
				Virtual Keyboard
			</div>
		</div>
		<div class="btn-continue">
			<button type="submit" mat-fab [disabled]="!passPatternDone || !passConfirmDone">
				<i class="material-icons arrow" *ngIf="!sending">arrow_forward</i>
				<mat-progress-spinner diameter="24" mode="indeterminate" *ngIf="sending" class="loader"></mat-progress-spinner>
			</button>
			<div [class.go]="passPatternDone && passConfirmDone">Continuar</div>
		</div>
	</form>
</div>
<app-auth-message></app-auth-message>
