@import '../../../core/styl/utils.styl'

[data-component='accounts-list']
	position absolute
	width 230px
	top 110px
	left 150%
	transform translateX( -50% )
	p
		color $middle-grey
		font-size 12px
		margin 10px 0 5px
	.account-item
		text-align left
		span
			font 10px $secondary-font
			color $middle-grey
			display block
			&.name
				font 12px $primary-font
				color $secondary

	.mat-selection-list
		background white
		border 1px solid $contrast-grey
		padding 0
		margin 0 0 10px
		height 200px

		.mat-list-item
			cursor pointer
			border-bottom 1px solid $bg-grey

		.mat-list-item-content
			padding 0 10px

	.mat-radio-button
		position absolute
		right 6px
		top 55%
		transform translateY( -50% )

	.btn-send
		margin 0 0 5px


	.mCSB_inside > .mCSB_container
		margin-right 3px

	.mCSB_scrollTools,
	.mCSB_draggerRail
		width 10px

	.mCSB_draggerRail
		background-color $bg-grey
		border-radius 0

	.mCSB_scrollTools
		.mCSB_dragger
			.mCSB_dragger_bar
				background-color $contrast-grey

	.mCSB_scrollTools
		.mCSB_dragger:hover
				.mCSB_dragger_bar
					background-color $contrast-grey
