<section data-component="autentication">
	<div class="container container-abs">
		<div class="row">
			<div class="col-md-12 aut-container">
				<ngx-slick class="slider" [config]="slideConfig">
					<div ngxSlickItem class="slider-item">
						<h1>Agora, sua financeira <br><span>também é banco.</span></h1>
						<p>Nunc dui arcu, tempus at commodo eget, tincidunt vitae nibh.
								Vivamus vel est commodo, euismod libero egestas, auctor est.
								Fusce laoreet sapien mi.</p>
					</div>
					<div ngxSlickItem class="slider-item">
						<h1>Agora, sua financeira <br><span>também é banco.</span></h1>
						<p>Nunc dui arcu, tempus at commodo eget, tincidunt vitae nibh.
								Vivamus vel est commodo, euismod libero egestas, auctor est.
								Fusce laoreet sapien mi.</p>
					</div>
					<div ngxSlickItem class="slider-item">
						<h1>Agora, sua financeira <br><span>também é banco.</span></h1>
						<p>Nunc dui arcu, tempus at commodo eget, tincidunt vitae nibh.
								Vivamus vel est commodo, euismod libero egestas, auctor est.
								Fusce laoreet sapien mi.</p>
					</div>
				</ngx-slick>

				<a class="btn border white" routerLink="/">Saiba mais</a>

				<app-login></app-login>
			</div>
		</div>
	</div>
</section>
